@use "../abstracts/" as *;


// https: //fonts.google.com/icons?icon.query=garden&icon.size=24&icon.color=%23e8eaed
.card {
 display: grid;
 gap: $card-flow-spacing;
 padding: $card-body-padding;
 // background-color: $card-background-default;
 font-family: $card-font-family;
 color: $card-color-default;
 line-height: $card-line-height;
 box-shadow: $card-shadow;
 border-radius: $card-border-radius;

 &__heading {
  @include heading($card-heading-font-size, $card-heading-color-default);
  margin-bottom: 5px;
 }

 &__icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #1a7110;
  margin-bottom: 3rem;
  padding: 0.9rem;
  border-radius: 50%;
  font-size: 2rem;



  // Optional: Add margin or alignment
  margin-bottom: 25px;
  align-self: center;

  // Using an SVG or icon font
  svg {
   fill: #222;
   width: 100%;
   height: 100%;
  }

 }


}






//  // Optionally create a variation modifier for cards that feature an icon
//  &--with-icon {
//   grid-template-columns: auto 1fr;
//   align-items: center;

//   & .card__icon {
//    margin-right: 2px;
//   }
//  }
// }